*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form{
    margin: 3rem;
    /* text-align: center; */
    /* width: 100%; */
}
#holder{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40%;
    height: 750px;
    margin: 0 auto;
    padding: 1rem;
}
#tittle{
    padding: 1rem;
    padding-left: .9px;
}
#sign{
    padding-left: 2rem;
    
}
#holder > div{
    padding: 1rem;
    margin: 10px;
}
#holder > div > input{
    width: 90%;
    padding: 0.9rem;
    border-radius: 5px;
    margin-top: 9px;
    padding-left: 5rem;
}
#btn button{
    padding: .6rem;
    width: 90%;
    background-color: rgb(85, 17, 85);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    border: none;
}